@tailwind base;
@tailwind components;
@tailwind utilities;

/* 画面全体の制限をすべて解除する */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100% !important;
  min-height: 100vh;
  display: block !important; /* 中央寄せ設定を一度リセット */
}
